<% layout("/layouts/boilerplate")%>
<body>
    <div class="row">
     <div class="col-8 offset-2">
        <br><br>
    <h3>ctreate new listing here..</h3>
    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data" >
        <div class="mb-3">
         <label for="title" class="form-label">Title</label>
         <input name="title" placeholder="enter title" type="text" class="form-control" required>
         <div class="valid-feedback"> Title looks goood</div>
        </div>

         <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" placeholder="enter description" type="text" class="form-control" required></textarea> 
            <div class="invalid-feedback">enter a short description</div>
        </div>
         
        <!--<div class="mb-3">
            <label for="image" class="form-label">image link</label>
         <input name="image" placeholder="enter img url" type="text"class="form-control" >
        </div>-->
       <div class="mb-3">
            <label for="image" class="form-label">  upload image</label>
         <input name="image"  type="file"class="form-control" >
        </div> 
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
         <input name="price" placeholder="enter price" type="text"class="form-control" required>
         <div class="invalid-feedback">please enter a valid price</div>
        </div>

        <div class="mb-3 col-md-8" >
            <label for="country" class="form-label">Country</label>
         <input name="country" placeholder="enter country" type="text" class="form-control" required>
         <div class="invalid-feedback">country should be valid</div>
        </div>
    </div>

        <div class="mb-3">
            <label for="location" class="form-label">Loction</label>
         <input name="location" placeholder="enter location" type="text" class="form-control" required>
         <div class="invalid-feedback">location should be valid</div>
        </div> 
         <button class="btn btn-dark mt-3">ADD</button>
    </form>
    <br><br>
    </div>
    </div>
    
</body>
